<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Add Product</title>
        <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" 
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
          crossorigin="anonymous"
        />
      </head>
  <body>
    <div class="mx-5">
      
      <br /><br />

      <div class="w-50 mx-auto mb-5">
      <h1 class="text-center">Form Add Product</h1>

      <form action="/users/dashboard/admin/product/add" method="post">
        <div class="form-group">
        <label> Name :</label>
        <input type="text" name="dressModel" >
        <br />
        <label> Price :</label><br />
          <input type="text" name="price" >
        <br />
        
        <label> Stock :</label>
        <input
          type="text"
          name="stock"
          id=""
        ></input>
        <br />
        <input type="submit" value="Submit " class="btn btn-primary"/>
      </div>
      </form>
      </div>
    </div>
  </body>
</html>
